*{
    margin: 0;
    padding: 0;
}
.background{
    width: 100%;
    background: url(WB.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    color: rgba(245, 222, 179, 0.829);
    font-family: Arial;
    font-size: 45px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.line {
    width: 100%;
    position: absolute;
    top: 20%;
    transform: translateY(-10%);
    text-align: center;
    color: black;
}

.line h1 {
    font-size: 50px;
    top: 15px;
    left: 200px;
}
 .line p {
    margin: 5px auto;
    font-weight: 400;
    line-height: 30px;
    font-size: 30px;
 }

 .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 button{
    background: transparent;
    color: black;
    border-color: black;
    width: 200px;
    height: 75px;
    font-family: seria;
    font-size: 35px;
    font-weight: 500;
    border-radius: 10px;
    letter-spacing: 2px;
    transition: 1s;
 }

  button:hover{
    cursor: pointer;
    background-color: rgba(71, 71, 71, 0.5);
    color: wheat;
    border-color: rgb(54, 54, 54);
    transition: 1s;

 }